<%- include('../layouts/header') %>
	
	<h2>
		Nova Vaga <br />
		<a href="/admin/vagas">Voltar</a>
	</h2>

	<form method="POST">
		<label>Titúlo vaga:</label>
		<input type="text" name="titulo" value="<%- vaga.titulo %>">
		<br />

		<label>Descrição:</label>
		<textarea name="descricao"><%- vaga.descricao %></textarea>
		<br />

		<label>Categoria:</label>
		<select name="categoria">
			<% categorias.forEach(categoria => { %> 
				<option value="<%- categoria.id %>" <% if (categoria.id == vaga.categoria) { %> selected <% } %>><%- categoria.categoria %></option>
			<% }) %>
		</select>
		<br />

		<input type="submit" value="Salvar">
	</form>

<%- include('../layouts/footer') %>